

@media(min-width: 1200px) {
    .section {
        flex: 30%;
    }
    .row{
        flex-wrap: nowrap;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .top {
        flex: 25%;
    }
    .bottom {
        flex: 50%;
    }
    .row{
        flex-wrap: wrap;
    }
    
}

@media(max-width: 991px){
    .row{
        flex-wrap: wrap;
    }
}

.row {
    display:flex;
}



h1 {
    text-align: center;
    background: #eee;
    border-bottom: 1px solid;
    margin-bottom: -1px;
    margin-block-start: 0px !important;
    padding: 10px;
}
.section-header {
    text-align: right;
    padding-right: 5%;
}

body{
    margin: 0px;
}
.section{
    margin: 10px;
    border:1px solid;
    border-radius: 20px;
    padding:20px;
}
